#mat-toolbar {
  position: fixed;
  justify-content: flex-end;
  width: 100vw;
  transition: background 0.4s ease-in-out;
}

.noscroll {
  background: rgba(0, 0, 0, 0);
}

.scroll {
  /* background: rgba(255, 255, 255, 1); */
  background: rgba(0, 0, 0, 1);
}

.scroll span a {
  /* color: rgb(85, 85, 85); */
  color: rgb(255, 255, 255);
}

span {
  color: white;
  margin-right: 25px;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  font-size: 16px;
}
