<div class="navbar">
    <mat-toolbar>
        <div></div>
        <div>
            <span><a routerLink=""><i class="fas fa-home"></i> Home</a></span>
            <span><a routerLink="skills"><i class="fas fa-brain"></i> Skills</a></span>
            <span><a routerLink="portfolio"><i class="fas fa-project-diagram"></i> Portfolio</a></span>
            <span><a routerLink="tutorials"><i class="fas fa-book-open"></i> Tutorials</a></span>
            <span><a routerLink="vlog"><i class="fab fa-youtube"></i> Vlog</a></span>
            <span><a routerLink="contact"><i class="fas fa-id-card"></i> Contact</a></span>
            <span>
                <button mat-raised-button color="primary" routerLink="live-projects"><i class="fas fa-rocket"></i> Live Projects</button>
            </span>

        </div>
    </mat-toolbar>
</div>