<mat-toolbar id="mat-toolbar" class="noscroll">
    <span><a routerLink=""><i class="fas fa-home"></i> Home</a></span>
    <span><a routerLink="skills" class="disabled-menu-item"><i class="fas fa-brain"></i> Skills</a></span>
    <span><a routerLink="portfolio"><i class="fas fa-project-diagram"></i> Portfolio</a></span>
    <span><a routerLink="tutorials" class="disabled-menu-item"><i class="fas fa-book-open"></i> Tutorials</a></span>
    <span><a routerLink="vlog" class="disabled-menu-item"><i class="fab fa-youtube"></i> Vlog</a></span>
    <span><a routerLink="contact" class="disabled-menu-item"><i class="fas fa-id-card"></i> Contact</a></span>
    <span>
        <button class="disabled-menu-item" mat-raised-button color="primary" routerLink="live-projects"><i class="fas fa-rocket"></i> Live
            Projects</button>
    </span>
</mat-toolbar>