<div class="navbar">
    <mat-toolbar>
        <div></div>
        <div>
            <span><i class="fas fa-home"></i> Home</span>
            <span><i class="fas fa-brain"></i> Skills</span>
            <span><i class="fas fa-project-diagram"></i> Portfolio</span>
            <span><i class="fas fa-book-open"></i> Tutorial</span>
            <span><i class="fab fa-youtube"></i> Vlog</span>
            <span><i class="fas fa-id-card"></i> Contact</span>
            <span>
                <button mat-raised-button color="primary"><i class="fas fa-rocket"></i> Live Projects</button>
            </span>

        </div>
    </mat-toolbar>
</div>