<div class="home-image"></div>

<div class="home-title-container">
    <h1 class="home-title">
        Jayson Zanarias
    </h1>
    <br><br>
    <h5 class="home-subtitle">
        Full Stack Software Engineer, CoDe and Innovation Lead
    </h5>
    <br>
    <div class="home-social-media">
        <i class="fab fa-linkedin fa-3x"></i>
        <i class="fab fa-github fa-3x"></i>
        <i class="fab fa-stack-overflow fa-3x"></i>
        <i class="fab fa-youtube fa-3x"></i>        
    </div>
</div>