<div class="home-container">
        <div class="hero-section">
                <div class="intro-image"></div>
                <div class="intro hide-then-appear">
                        <div class="intro-title">Hi, I'm Jayson.</div>
                        <div class="intro-subtitle">A Full Stack Software Engineer and a CoDe and Innovation
                                Lead</div>
                        <div class="intro-social-media">
                                <a href="https://www.linkedin.com/in/jayson-zanarias/" target="_blank"><i
                                                class="fab fa-linkedin fa-3x"></i></a>
                                <a href="https://www.hackerrank.com/jayson_zanarias" target="_blank"><i
                                                class="fab fa-hackerrank fa-3x"></i></a>
                                <a href="https://github.com/jaysonzanarias/" target="_blank"><i
                                                class="fab fa-github fa-3x"></i></a>
                                <a href="https://stackoverflow.com/users/9138560/jayson-zanarias" target="_blank"><i
                                                class="fab fa-stack-overflow fa-3x"></i></a>
                        </div>
                </div>
        </div>
</div>