<div class="home-image"></div>

<div class="home-title-container">
        <h1 class="home-title">Hi, I'm Jayson.</h1>
        <br><br>
        <h5 class="home-subtitle">
                A Full Stack Software Engineer and a CoDe and Innovation Lead
        </h5>
        <br>
        <div class="home-social-media">
                <a href="https://www.linkedin.com/in/jayson-zanarias/" target="_blank"><i
                                class="fab fa-linkedin fa-3x"></i></a>
                <a href="https://www.hackerrank.com/jayson_zanarias" target="_blank"><i
                                class="fab fa-hackerrank fa-3x"></i></a>
                <a href="https://github.com/jaysonzanarias/" target="_blank"><i class="fab fa-github fa-3x"></i></a>
                <a href="https://stackoverflow.com/users/9138560/jayson-zanarias" target="_blank"><i
                                class="fab fa-stack-overflow fa-3x"></i></a>
                <a href="https://www.youtube.com/channel/UCOoVzyOq7Fr3pPVCIMtpjPQ" target="_blank"><i
                                class="fab fa-youtube fa-3x"></i></a>
        </div>
</div>