.skills-container {
  padding-bottom: 50px;
}

.skills-menu {
  max-height: 80vh;
  max-width: 320px;
  width: 20vw;
  left: 5%;
  float: left;
  margin-top: 40vh;

  color: #8a8a8a;
  overflow: hidden;

  position: -webkit-sticky;
  position: sticky;
  top: 20vh;
}

.skills-menu-up,
.skills-menu-down {
  height: 2rem;
  text-align: center;
  cursor: pointer;
}

.skills-menu-content {
  max-height: 62vh;
  width: 100%;
  padding-right: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;

  scroll-behavior: smooth;
  background: transparent;
}

.skills-menu-content-item {
  font-size: 1.15rem;
  font-family: Lato, Helvetica, Arial, sans-serif;
  line-height: 2rem;
  word-spacing: 0.02rem;
  font-weight: 400;
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.skills-menu-content-item:hover {
  color: #cacaca;
  font-weight: bolder;
}

/* TODO: to move in the div's onclick behavior. add class when selected. */
.skills-menu-content-item:active {
  opacity: 50%;
  transition: 100ms ease-in-out;
}

.skills-menu-up:hover,
.skills-menu-down:hover {
  color: #cacaca;
  animation: blinker 0s linear;
  transition: 100ms ease-in-out;
  font-size: larger;
  font-weight: bolder;
}

.skills-menu-up:active,
.skills-menu-down:active {
  opacity: 50%;
  transition: 100ms linear;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.skills-overview {
  margin-top: 5rem;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.fa-custom-style {
  color: #cacaca;
  font-size: 8vw;
}

.skills-table-container {
  margin-left: 23%;
  margin-right: 20%;
}

.skills-category-header {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.skills-category-content {
  padding-left: 2.5rem;
  padding-right: 3rem;
}

h2 {
  margin: 0 1.5rem;
  width: 100%;
}

table {
  width: 100%;
  margin-left: 3rem;
  border-spacing: 0 1rem;
}

td {
  color: #8a8a8a;
  font-family: Lato, Helvetica, Arial, sans-serif;
  word-spacing: 0.02em;
  font-size: 1.4em;
  line-height: 2em;
  padding-left: 2rem;
}

li {
  list-style-type: circle;
}

.category {
  vertical-align: top;
  width: 45%;
  font-weight: bold;
  font-size: 1.5em;
}

@media only screen and (max-width: 850px) {
  .skills-menu {
    display: none;
  }

  .skills-overview {
    margin-top: 5rem;
    margin-left: 10%;
    margin-right: 10%;
  }

  .skills-table-container {
    margin-left: 10%;
    margin-right: 10%;
  }

  .skills-category-header {
    margin: 0 0;
    font-size: 2vw;
  }

  .skills-category-content {
    padding-left: 0;
    padding-right: 0;
  }

  h2 {
    margin: 0.1em 0 !important;
    width: 100%;
    font-size: 4vw;
    line-height: 1.5em;
    text-align: center;
  }

  table {
    width: 100%;
    margin-left: 1.5rem;
    border-spacing: 0 1rem;
  }

  td {
    color: #8a8a8a;
    word-spacing: 0.02em;
    font-size: 3vw;
    line-height: 4vw;
    padding-left: 0;
  }

  .category {
    width: 60%;
    font-weight: 400;
    font-size: 3.5vw;
  }
}
