<div class="skills-container">
    <div class="skills-category-title">
        Front End
    </div>
    <div class="tech-container">
        <div class="tech-item">
            <div class="">
                <img [src]="imagePath + image.image_name" class="tech-icon" />
            </div>
            <div class="tech-details-container">
                <div>Angular</div>
                <div>5 years</div>
                <div>Level</div>
            </div>
        </div>
        <div class="tech-item">
            <div class="">
                <img [src]="imagePath + image.image_name" class="tech-icon" />
            </div>
            <div class="tech-details-container">
                <div>Angular</div>
                <div>5 years</div>
                <div>Level</div>
            </div>
        </div>
        <div class="tech-item">
            <div class="">
                <img [src]="imagePath + image.image_name" class="tech-icon" />
            </div>
            <div class="tech-details-container">
                <div>Angular</div>
                <div>5 years</div>
                <div>Level</div>
            </div>
        </div>
        <div class="tech-item">
            <div class="">
                <img [src]="imagePath + image.image_name" class="tech-icon" />
            </div>
            <div class="tech-details-container">
                <div>Angular</div>
                <div>5 years</div>
                <div>Level</div>
            </div>
        </div>
        <div class="tech-item">
            <div class="">
                <img [src]="imagePath + image.image_name" class="tech-icon" />
            </div>
            <div class="tech-details-container">
                <div>Angular</div>
                <div>5 years</div>
                <div>Level</div>
            </div>
        </div>
        <div class="tech-item">
            <div class="">
                <img [src]="imagePath + image.image_name" class="tech-icon" />
            </div>
            <div class="tech-details-container">
                <div>Angular</div>
                <div>5 years</div>
                <div>Level</div>
            </div>
        </div>
    </div>
</div>