<div class="portfolio-container">
    <!-- height: 45%; -->
    <div class="portfolio-header-image">
    </div>

    <div class="portfolio-header-container">
        <div class="portfolio-title">My Portfolio</div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tempora sequi, quam repellendus eum nemo cupiditate
        perspiciatis aspernatur molestiae distinctio! Doloremque repellat, tempore voluptate expedita quisquam aperiam
        porro velit in vitae laboriosam itaque blanditiis voluptatibus accusamus sequi eius perferendis sunt.
    </div>

    <!-- height: 55%; -->
    <div class="portfolio-category">
        <div class="portfolio-category-item" (click)="scroll(portDetailsContainer); setCategory('Web');">
            <div class="portfolio-category-item-web portfolio-category-item-overlay ">
            </div>
            <div class="portfolio-category-item-text">
                Web
            </div>
        </div>
        <div class="portfolio-category-item" (click)="scroll(portDetailsContainer); setCategory('Backend');">
            <div class="portfolio-category-item-backend portfolio-category-item-overlay ">
            </div>
            <div class="portfolio-category-item-text">
                Backend
            </div>
        </div>
        <div class="portfolio-category-item" (click)="scroll(portDetailsContainer); setCategory('Desktop');">
            <div class="portfolio-category-item-desktop portfolio-category-item-overlay ">
            </div>
            <div class="portfolio-category-item-text">
                Desktop
            </div>
        </div>
        <div class="portfolio-category-item" (click)="scroll(portDetailsContainer); setCategory('Mobile');">
            <div class="portfolio-category-item-mobile portfolio-category-item-overlay ">
            </div>
            <div class="portfolio-category-item-text">
                Mobile
            </div>
        </div>
    </div>

    <div #portDetailsContainer class="portfolio-item-details-container">
        <div class="project-title">{{ category | uppercase }}</div>
        <div class="project-details">
            <project-list class="project-list"></project-list>
            <project-container class="project-container"></project-container>
            <project-list class="project-details-outline"></project-list>
        </div>
    </div>
</div>