#mat-toolbar {
  z-index: 999;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  transition: 0.4s ease-in-out;
}

span {
  color: white;
  margin: 0 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover > i {
  animation: shake 2s 1s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  5% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  10% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  15% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  20% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  25% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  30% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  35% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  40% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}

.noscroll {
  background: transparent;
}

.scroll {
  background: rgb(0, 0, 0);
}

.selected {
  padding-bottom: 0.5rem;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  transition: 0.2s;
}

.disabled-menu-item {
  color: gray !important;
  pointer-events: none !important;
}

mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  background-color: inherit;
  overflow: initial;
}

mat-sidenav,
.hamburger-button {
  display: none;
}

.footer {
  background: rgb(34, 34, 34);
  color: rgb(114, 114, 114);
  padding: 1.5rem 0;
  line-height: 1.5rem;
  text-align: center;
}

.go-to-top {
  visibility: visible;
  position: fixed;
  z-index: 999;
  bottom: 0.5em;
  right: 0.75em;
  color: rgb(187, 187, 187);
  cursor: pointer;
}

.go-to-top:hover {
  color: green;
  transition: 0.5s ease-in-out;
}

.hide-go-to-top {
  visibility: hidden;
  display: none;
}

/* ============================================================ */

@media only screen and (max-width: 850px) {
  #mat-toolbar {
    display: none;
  }

  .hamburger-button {
    display: block;
    position: fixed;
    z-index: 999;
    top: 1.5rem;
    left: 1rem;
    cursor: pointer;
  }

  span:focus,
  a:focus,
  i:focus {
    outline: none;
  }

  mat-sidenav-container i {
    font-size: 6vw;
  }

  mat-sidenav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2a2a2a;
    padding: 1rem 1rem;
  }

  mat-sidenav span {
    display: block;
    margin-top: 4vh;
  }

  mat-sidenav a {
    color: inherit;
    text-decoration: none;
    font-size: 3vh;
  }

  mat-sidenav i {
    margin-right: 1rem;
    font-size: 3vh;
  }

  mat-sidenav-content {
    overflow: hidden;
    color: white;
  }

  .footer {
    padding: 1rem 0;
    line-height: 1.5rem;
    font-size: 0.7rem;
  }

  .go-to-top {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 400px) {
  mat-sidenav a {
    font-size: 2vh;
  }

  mat-sidenav i {
    font-size: 2vh;
  }

  .footer {
    padding: 1rem 0;
    line-height: 1rem;
    font-size: 0.6rem;
  }
}
