.project-container {
  margin-left: 3%;
  margin-right: 3%;
}

.image-container {
  text-align: center;
  margin-bottom: 50px;
  width: 90%;
  /* background-color: green; */
}

.project-screenshot {
  /* max-width:100%; */
  width: 100%;
  margin: 60px 20px 5px 0px;
  border: solid black 2px;
  /* filter: brightness(.8) contrast(1.2); */
  filter: brightness(.9);
}

.project-details-textarea {
  cursor: default;
  height: auto;
  width: 100%;
  /* font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif; */
  font-family: Lato, Helvetica, Arial, sans-serif;
  /* font-size: 18px;
  line-height: 30px; */

  font-size: 1.3em;
  line-height: 1.65em;
}

.project-details-textarea::ng-deep .mat-form-field-underline {
  display: none;
}