<div class="project-container">
    <h2>{{selectedProject?.name}}</h2>

    <p *ngIf="selectedProject?.type">
        <i>Tag: {{selectedProject?.type}}</i>
    </p>

    <mat-form-field class="project-details-textarea">
        <textarea readonly matInput cdkTextareaAutosize="true" [value]="selectedProject?.details">
        {{selectedProject?.details}}
        </textarea>

        <div class="image-container">
            <div *ngFor="let image of selectedProject?.images">
                <img [src]="imagePath + image.image_name" class="project-screenshot" />
                <div>
                    <i>{{image.caption}}</i>
                </div>
            </div>
        </div>
    </mat-form-field>
</div>