<div class="project-details-container hide-then-appear">
    <project-container [selectedProject]="selectedProject"></project-container>
    <div class="project-details-outline">
        <div *ngIf="selectedProject">

            <div class="project-details-outline-technologies">
                <h3>Technologies Used</h3>
                {{selectedProject?.technologies}}
            </div>


            <div class="project-details-outline-technologies">
                <h3>Business Case / Technical Features</h3>
                {{selectedProject?.technologies}}
            </div>
        </div>
    </div>
</div>

<div class="fa-chevron-left-custom blink_me">
    <a routerLink="/portfolio">
        <i class="fas fa-2x fa-chevron-left"></i>
    </a>
</div>