@import "~@fortawesome/fontawesome-free/css/all.min.css";

html,
body {
  background-color: #2a2a2a;
}

body {
  margin: 0;
}

div {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #cacaca;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1.45em;
  letter-spacing: -2px;
  margin-bottom: 0.1em;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
}

h2 {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.35em;
  letter-spacing: -0.045em;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
  line-height: 1.35em;
  letter-spacing: -0.045em;
}

.hidden {
  position: relative;
  left: -100px;
  opacity: 0%;
  animation: appear .8s ease-in-out forwards;
}

@keyframes appear {
  100% {
    opacity: 100%;
    left: 0px;
  }
}