@import "~@fortawesome/fontawesome-free/css/all.min.css";

html,
body {
  height: 100%;
  width: 100%;

  /* gray */
  background-color: rgba(0, 0, 0, 0.5);

  /* green */
  /* background-color: rgb(23, 51, 34); */

  /* brown */
  /* background-color: rgb(51, 39, 23); */
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
